<!DOCTYPE html>
<%- include('partials/header.ejs') %>
<br>
   <img src="/img/venus.jpg" alt = 'The Solar System' width="25%" height="25%"/>
   <br><br>
    <p>Venus is the furthest planet from the sun. It is red becaus the ice has turned so cold that it is giving the planet "freezer burn". Scientists say that we could colonize it within 50 years.</p>
    <br><br>
      <%- include('partials/links.ejs') %>
    <script src="js/scripts.js"></script>
    <%- include('partials/footer.ejs') %>
  